<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<style>
  .partner-ownerName {
    color: #fff;
    padding: 5px;
  }
  .partner-ownerName:hover {
    color: #ccc;
  }
</style>


<div class=container>
<div class=column>

<center><p class="has-text-white title is-large">
<i class="fal fa-newspaper mr-1" style=color:red;
></i>&nbsp;CLIENT SPEAK</p><p class="content has-text-white" style=margin-top:-20px >The Official respected honor  Of Bhbotlist</p></center>
</div>






<div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">

<div class="col-md-6 col-lg-4 pb-3"><div data-aos=fade-left><div class="card vcodes-card-custom bg-vcodes border-white border-0"><div class=vcodes-card-custom-img style=background-image:url(../../img/bhbl.png)></div><div class=vcodes-card-custom-avatar><img draggable=false class=pulse-avatar-offline src=https://cdn.discordapp.com/avatars/671390595184459782/ab54ad195335e35ca439263a75ba92f5.webp alt=Avatar><center><span data-tooltip=" Team" data-tooltip-location=top><i class="fad fa-crown has-text-danger" style=color:#0c0c0c></i></span> <span data-tooltip="Bot REVIEWER" data-tooltip-location=top><i class="fad fa-gavel" style=color:#64b7f7></i></span> <span data-tooltip=sponser data-tooltip-location=top><span data-tooltip=supporter data-tooltip-location=top><i class="fad fa-star" style=color:#2ecc71></i></div></center><div class=card-body><h4 translate=no class=card-title><center>Announcement #1 <span data-tooltip="Verified News" data-tooltip-location=top><i class="fal fa-newspaper mr-1 "style=color:yellow;></span></h2></center>
<div class=vcodes_column>
<div style=border-color:#0c0c0c class=vcodes_teamcard onclick='location.href="/user/671390595184459782"'>
<div class=user><h1>Writen by : AnshTyagi <br><br> Date :   17/06/2021</h1>
</div></div></div>
<h6><p>Message</p></h6>
<p translate=no class="card-text vCodesbotDesc">@everyone Our site https://bhbotlist.xyz/ is now ready to use. 
You can now add your bots. You can also use uptime services on the site.
Let me tell you one thing that everyone have to add there bot again as we have chnaged db.

Api will be releasing soon for both js and python.

Have a nice day!.
</p></div><div class=card-footer><center> <a href=https://discord.com/channels/805130400623362048/843528657066000414/854935188857552897 class="btn btn-bot"> Read More</a></center></div></div></div></div>




<div class="col-md-6 col-lg-4 pb-3"><div data-aos=fade-left><div class="card vcodes-card-custom bg-vcodes border-white border-0"><div class=vcodes-card-custom-img style=background-image:url(../../img/bhbl.png)></div><div class=vcodes-card-custom-avatar><img draggable=false class=pulse-avatar-offline src=https://cdn.discordapp.com/avatars/566113631499059220/0304a71c27b26e3f0e9fc5ddb65a51a9.webp alt=Avatar><center><span data-tooltip=" Team" data-tooltip-location=top><i class="fad fa-crown has-text-danger" style=color:#0c0c0c></i></span> <span data-tooltip="Bot REVIEWER" data-tooltip-location=top><i class="fad fa-gavel" style=color:#64b7f7></i></span> <span data-tooltip=sponser data-tooltip-location=top><span data-tooltip=supporter data-tooltip-location=top><i class="fad fa-star" style=color:#2ecc71></i></div></center><div class=card-body><h4 translate=no class=card-title><center>Announcement #2 <span data-tooltip="Verified News" data-tooltip-location=top><i class="fal fa-newspaper mr-1" style=color:yellow;
></span></h2></center>
<div class=vcodes_column>
<div style=border-color:#0c0c0c class=vcodes_teamcard onclick='location.href="/user/566113631499059220"'>
<div class=user><h1>Writen by : Monster <br><br> Date :   24/05/2021</h1>
</div></div></div>
<h6><p>Message</p></h6>
<p translate=no class="card-text vCodesbotDesc">@everyone Long time, no community announcements. I hope everyone is doing well! We know the COVID-19 pandemic has been a rough time for everyone. So, we figured it’s a good time to catch-up and to express some appreciation. Of course, we always appreciate everyone who is part of the community – you all keep the project alive and growing. Thank you from everyone. We love hearing from users and every positive comment keeps us going! We love seeing the bot adding to BHBL your lives easier, and we thrive on positive affirmation. 
BHBL has undergone some restructuring and organizational changes (a few days ago) which may have flown under the radar. First of all, we want to acknowledge and congratulate our new core dev @𝐒𝐓 ∫ ⋩ÐH丶Vɪsʜᴀʟ Aʟᴏɴᴇ 😎ᴺˣ⁷  Additionally, we want to thank all of the collaborators and contributors to the BHBL project regardless the size of each contribution. As a free open-source project, every little bit helps! Sometimes it may seem unnoticed but we notice and appreciate every little bit – every suggestion, PR, even disagreement (that just means someone spent the time and effort to think about ways to improve the project).  Specifically, an extra big shout-out goes to our collaborators @ʙʜ〢C P T N   and @AnshTyagi  who have been absolutely instrumental in the dashboard and docker efforts which have been highly-requested, major expansions for BHBL. Neuro has been managing the Dashboard repo, and Phasecore has been the driving force behind an official Docker image. 

We can’t wait to see what’s in store! Anyone else who is interested in participating in any part of BHBL is always welcome, but if anyone is specifically interested in contributing on a particular project or already has something major being worked on, please reach out and let us know! Stay tuned for more positivity.
</p></div><div class=card-footer><center> <a href=https://discord.com/channels/805130400623362048/843528657066000414/846281781094121492 class="btn btn-bot">Read More</a></center></div></div></div></div>



<div class="col-md-6 col-lg-4 pb-3"><div data-aos=fade-left><div class="card vcodes-card-custom bg-vcodes border-white border-0"><div class=vcodes-card-custom-img style=background-image:url(../../img/bhbl.png)></div><div class=vcodes-card-custom-avatar><img draggable=false class=pulse-avatar-offline src=https://cdn.discordapp.com/avatars/836958855866089512/3a29a24d31417d1a957b216cadca089f.webp alt=Avatar><center><span data-tooltip=" Team" data-tooltip-location=top><i class="fad fa-crown has-text-danger" style=color:#0c0c0c></i></span> <span data-tooltip="Bot REVIEWER" data-tooltip-location=top><i class="fad fa-gavel" style=color:#64b7f7></i></span> <span data-tooltip=sponser data-tooltip-location=top><span data-tooltip=supporter data-tooltip-location=top><i class="fad fa-star" style=color:#2ecc71></i></div></center><div class=card-body><h4 translate=no class=card-title><center>Announcement #3 <span data-tooltip="Verified News" data-tooltip-location=top><i class="fal fa-newspaper mr-1" style=color:yellow;></span></h2></center>
<div class=vcodes_column>
<div style=border-color:#0c0c0c class=vcodes_teamcard onclick='location.href="/user/836958855866089512"'>
<div class=user><h1>Writen by : CPTN <br><br> Date : 27/05/2021</h1>
</div></div></div>
<h6><p>Message</p></h6>
<p translate=no class="card-text vCodesbotDesc">@everyone  when you submit the bot in web wait for the reload and don't leave the site if it not reload the site and it should be look like this https://bhbl.xyz/addbot?success=true&message=Your%20bot%20has%20been%20successfully%20added%20to%20the%20system.&botID=%7Bbotid%7D .
</p></div><div class=card-footer><center> <a href=https://discord.com/channels/805130400623362048/843528657066000414/847311944327233566 class="btn btn-bot">Read More</a></center></div></div></div></div>





</div>
</div></div></div></div>








<%- include('parts/foot') %>