<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<head>
<title>Reviewers Application</title>
</head>
<style>
  h1 {
    color: #fFf;
  }
  .background {
    position: relative;
}
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<br><br><br><br><br><br><br>
<div class="container">
    <h3 style="color: #fff;">
        <i class="fad fa-user-crown"></i>   Bot Reviewers Application
        </h3>
        <div class="vcodes_divider"></div>
        <br>
<div class="row">
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-3">
  

<style>
@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  14% {border-color: hsl(30,100%,50%);}
  28% {border-color: hsl(60,100%,50%);}
  42% {border-color: hsl(120,100%,50%);}
  56% {border-color:  hsl(240,100%,50%);}
  70% {border-color: hsl(280,100%,50%);}
  84% {border-color: hsl(320,100%,50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
@-webkit-keyframes rainbow-text {
  0% {color: hsl(0, 100%, 50%);}
  14% {color: hsl(30,100%,50%);}
  28% {color: hsl(60,100%,50%);}
  42% {color: hsl(120,100%,50%);}
  56% {color:  hsl(240,100%,50%);}
  70% {color: hsl(280,100%,50%);}
  84% {color: hsl(320,100%,50%);}
  100% {color: hsl(255, 100%, 50%);}
}
.text-animation {
-webkit-animation: rainbow-text 5s infinite alternate; 
}
.border-animation {
-webkit-animation: rainbow 5s infinite alternate; 
}
</style>

  
br><br><br><br>



<style>
.form-control {
  background-color: var(--form-input);
  color: var(--input-color);
  border: none;
}
.form-control:focus {
  background-color: var(--form-input);
  color: var(--input-color);
  border: 3px solid var(--button-green);
}
  label {
    color: var(--label-color)!important;
  }
input[type="text"]:disabled {
  background-color: var(--input-disabled);
  color: gray;
  border: none;
  cursor: not-allowed;
}
</style>
  <br><br>
<div style="background-color: var(--form-background);" class="container p-4">
  <script>
        $(function() {
        var txt = $("input#botID");
        var func = function() {
            txt.val(txt.val().replace(/\s/g, ''));
        }
        txt.keyup(func).blur(func);
    });
  </script>


<form action="https://formsubmit.co/siposkristof09@gmail.com" method="POST">
<input type="hidden" name="_next" value="https://fuzzlist.xyz/thankyou">
<input type="hidden" name="_subject" value=" bot reviewer New submission!">
<input type="hidden" name="_template" value="table">
<input type="hidden" name="_captcha" value="false">

              <div class="form-group">
                <label><i class="fad fa-at"></i> Email<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input  type="text" name=" Email" class="form-control" required />
              </div>

              <div class="form-group">
                <label><i class="fad fa-id-badge"></i> Username, tag & ID  </label>
                <input  type="text" name=" Username, tag & ID" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-terminal"></i> How old are you?</label>
                  <input  type="text" name="How old are you?" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-clock"></i> What timezone are you in GMT? (e.g. GMT+4)</label>
                <input  type="text" name="timezone" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-language"></i> Which languages are you fluent in? </label>
                  <input  type="text" name=" languages " class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-google"></i> If yes, please list your experience (places, type of responsibilities)</label>
                  <input  type="text" name="responsibilities" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-discord"></i> If yes, please list your experience (provide bot IDs) </label>
                 <input type="text" name="(provide bot ID" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fab fa-github"></i> How much time can you dedicate to this position (e.g 4 hours a week)?</label>
                  <input  type="text" name="position" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-image"></i> Why do you want to become a part of the Bhbl.xyz staff team? </label>
                  <input  type="text" name=" become a part of the Bhbl.xyz" class="form-control" required/>
              </div>
          
          <
            <div class="form-group">
              <label><i class="fad fa-text"></i>  What do you consider to be one of your greatest weaknesses? </label>
              <input  type="text" name="greatest weaknesses" class="form-control" required>
          </div>
              <div class="form-group">
                <label><i class="fad fa-users"></i> You are approached by a user with no role in the server. They want to report a bot thats currently on the site. What do you do?</label>
                <input  type="text" name="approached by a user" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-terminal"></i> A bot developer contacts you regarding one of their bots you declined, how would you handle this situation?<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input  type="text" name=" developer contacts you" class="form-control" required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-users"></i> You notice that one of your fellow Bot Reviewers has been reviewing bots incorrectly, how would you handle the situation? </label>
                <input type="text" name=" reviewing bots incorrectly" class="form-control"  required/>
              </div>
              <div class="form-group">
                <label><i class="fad fa-terminal"></i> What was the most valuable lesson that you've learnt?<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input  type="text" name="valuable lesson" class="form-control" required/>
              </div>
                            

              <div class="form-group">
                <label><i class="fad fa-texts"></i> wright something about you <span style="color: rgb(175, 22, 22)">*</span>
                <p class="text-muted">(Html supported but markdown not supported)</p>
                </label>
                  <textarea  type="text" name="something about" class="form-control" style="width: 100%; height: 300px;" required></textarea>
              </div>
              <br>
              <br>
              <center> <div class="form-group">
                <label><i class="fad fa-tags"></i> Do you have any development experience?<span style="color: rgb(175, 22, 22)">*</span></label>
                <select name="16"  required>

                   <option value="yes">yes</option>
 
                   <option value="no" selected>No</option>

              </select>. &nbsp            
              
              <div class="form-group">
              
                <label><i class="fad fa-tags"></i> Have you ever moderated/managed a server before?<span style="color: rgb(175, 22, 22)">*</span></label>
                <select name="17"   required>

                   <option value="yes">Yes</option>

                   <option value="no" selected>No</option>

              </select>
</div>

<div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
        <label class="form-check-label" for="flexCheckDefault" required>
          I have read and accepted the <a href="/bot-rules">bot rules</a>.
        </label>
      </div>
      <p class="text-muted"></p>
      <p class="text-muted">Spaces with <span style="color: rgb(175, 22, 22)">*</span> next to it are required.</p>
      <button type="submit" name="btnSubmit" class="btn btn-vcodes"><i class="fal fa-paper-plane"></i> Submit</button></center>
</form>




<%- include('parts/foot2') %>