<%- include('./parts/head', {bot, user,path}) %>


        
        <script>function disableclick(e){if(2==e.button)return alert(status),!1}document.onmousedown=disableclick,status="YOU CANT OPEN DEVOLOPERS MODE CONTACT THE TEAM",document.onkeydown=function(e){return status="YOU CANT OPEN DEVOLOPERS MODE CONTACT THE TEAM",123!=event.keyCode&&(e.ctrlKey&&e.shiftKey&&(e.keyCode=="I".charCodeAt(0)||e.keyCode=="i".charCodeAt(0))||e.ctrlKey&&e.shiftKey&&(e.keyCode=="C".charCodeAt(0)||e.keyCode=="c".charCodeAt(0))||e.ctrlKey&&e.shiftKey&&(e.keyCode=="J".charCodeAt(0)||e.keyCode=="j".charCodeAt(0))?(alert(status),!1):(!e.ctrlKey||e.keyCode!="U".charCodeAt(0)&&e.keyCode!="u".charCodeAt(0))&&(!e.ctrlKey||e.keyCode!="S".charCodeAt(0)&&e.keyCode!="s".charCodeAt(0))?void 0:(alert(status),!1))}</script></div></div></nav><title>Widget</title><head><meta property=og:title content="Server count for Fuzzlist"><meta property=og:description content="This will help you to upload server count of your bot on Fuzzlist"><link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css><link rel=stylesheet href=https://highlightjs.org/static/demo/styles/atom-one-dark.css><script src=//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js></script>
        <script>hljs.highlightAll()</script><script>function copyFunction(){const e=document.getElementById("myCommands").textContent,t=document.createElement("textarea");t.textContent=e,document.body.append(t),t.select(),document.execCommand("copy")}document.getElementById("copybtn").addEventListener("click",copyFunction)</script></head><div class=main-content><br><br><br><br><br><
        
        

        <div class="col-xl-8 order-xl-1"><span style="float:right;cursor:pointer;transition:all .1s;font-size:20px" data-tooltip="Click and copy to clipboard" data-tooltip-location=top><a class="btn copybtn" onclick='copy("py1")'><i class="fad fa-copy has-text-white"></i></a></span><pre style=background-color:#282c34;margin-left:15px;width:100%;display:block!important><code id=py1>
         
         * remove `symobel
         * add bot id  

  <`iframe src="https://fuzzlist.xyz/bot/949658935835639838/embed" style="border:0 #fff none" name="Widget" scrolling="off" frameborder="0" marginheight="0px" marginwidth="0px" height="250px" width="500px" allowfullscreen=""><`frame> 
 
 </code></pre></div></div></div></div>
        <br><br><script>function copy(c){var e=$("<input>");$("body").append(e),e.val($("#"+c).text()).select(),document.execCommand("copy"),e.remove(),Swal.fire("Successful","Successfully code copied to clipboard.",success)}</script>
        
    















<%- include('./parts/foot') %>